<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aayushbhat.aayushiron.sivertongue">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.screen.portrait" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/fiiii"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/fiiii_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.myTheme.TitleBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".emo"
            android:label="@string/emo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".spee"
            android:label="@string/spee"
            android:screenOrientation="portrait" />
        <activity
            android:name=".filler"
            android:label="@string/filler"
            android:screenOrientation="portrait" />
    </application>

</manifest>